<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kimkihwan.me.stepcounter">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service android:name="com.kimkihwan.me.stepcounter.service.SensorService" />
        <service android:name="com.kimkihwan.me.stepcounter.service.LocationService" />

        <provider
            android:name="com.kimkihwan.me.stepcounter.provider.StepCounterProvider"
            android:authorities="com.kimkihwan.me.stepcounter.provider"
            android:exported="true" />

        <activity
            android:name="com.kimkihwan.me.stepcounter.activity.TabbedActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data android:name="com.naver.openapi.client.id" android:value="@string/openapi_id" />
        <meta-data android:name="com.naver.openapi.client.secret" android:value="@string/openapi_secret" />

    </application>


</manifest>